/v1_annotated.mp4
/v2_30s_annotated.mp4
/v3_60s_annotated.mp4
/v4_30s_annotated.mp4
/v5_30s_annotated.mp4
/v6_120s_annotated.mp4
/v7_60s_annotated.mp4
/yolov8m.pt
/yolov8n.pt
/output_10s_annotated.mp4
/challenge_depth_848x480.mp4
/challenge_color_848x480.mp4
